

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" ng-controller="NavbarController">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Better My City</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- smooth-scroll and scroll-spy must be on li tag, not a tag, in order for 
                        scroll-spy to work properly with css elements -->
                    <li class="hidden" du-smooth-scroll="page-top" du-scrollspy>
                        <a></a>
                    </li>
                    <li du-scrollspy>
                        <a href="who-we-are">Who We Are</a>
                    </li>
                    <li du-scrollspy>
                        <a href="find-my-city">Find My City</a>
                    </li>
                    <li du-scrollspy>
                        <a href="contact">Contact Us</a>
                    </li>
                    <li>
                        <a ng-click="openLogin()" class="yellow">Log In</a>
                    </li>
                    <li>
                        <a ng-click="openRegister()" class="yellow">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <script type="text/ng-template" id="loginDialog">
        <div class="ngdialog-message">
            <h2>Log In</h2>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <form name="form" role="form" ng-submit="login()" >
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Login</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a ng-click="switchToRegister()" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="registerDialog">
        <div class="ngdialog-message">
            <h2>Register</h2>
            <form name="form" ng-submit="register()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                    <label for="username">First name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                    <label for="username">Last name</label>
                    <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName" required />
                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a ng-click="switchToLogin()" class="btn btn-link">Log In</a>
                </div>
            </form>
        </div>
    </script>

    <!--by including the app.js here, it will get auto-included in every html page -->
    <script src="js/app.js"></script>    
    <script src="js/services/authentication.service.js"></script>
    <script src="js/services/flash.service.js"></script>
    <script src="js/services/user.service.js"></script>
    <script src="js/controllers/navbarController.js"></script>
