<!-- for hooking this up to back end nodejs and mongo: http://adrianmejia.com/blog/2014/10/03/mean-stack-tutorial-mongodb-expressjs-angularjs-nodejs/ -->
<html ng-app="city">
<head>
    <% include ../partials/head %>
    
    <title>Find My City</title>

</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <% include ../partials/nav %>

    <!-- City Grid Section -->
    <section id="find-my-city" class="bg-light-gray">
        <div class="container" ng-controller="CityController">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find My City</h2>
                    <h3 class="section-subheading text-muted">Search: <input type="text" ng-model="search.name">
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 city-item" ng-repeat="city in cities | filter: search">
                    <a ng-click="openCity(city)" class="city-link">
                        <div class="city-hover">
                            <div class="city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="img/cities/{{city.image}}" class="img-responsive" alt="">
                    </a>
                    <div class="city-caption">
                        <h4>{{city.name}}</h4>
                        <p class="text-muted">Organizations: {{city.organizations.length}}</p>
                        <p class="text-muted">Causes: {{city.causes.length}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 city-item">
                    <a ng-click="openAddCity()" class="city-link" data-toggle="modal">
                        <div class="city-hover">
                            <div class="city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="img/cities/default_city_image.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="city-caption">
                        <h4>Don't See Your City?</h4>
                        <p class="text-muted">Click the image to start a movement in your city</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Read only city dialog -->
    <script type="text/ng-template" id="cityDialog">
        <div class="ngdialog-message">
            <h2>{{ngDialogData.name}}</h2>
            <div>Don't really know how this navigation should work...</div>
        </div>
    </script>
    
    <script type="text/ng-template" id="addCityDialog">
        <div class="ngdialog-message">
            <h2>Want To Start Something In Your City?</h2>
            <div>Send us your contact information, and we'll be in touch!</div>
            
        </div>
    </script>
    
    <script src="js/ngDialog.min.js"></script>
    <script>
    angular.module('city', [/*'ngRoute', */'ui.bootstrap', 'duScroll', 'ngDialog'])
        // Service to retrieve cities
        .factory('cities', ['$http', function($http){
          return $http.get('/cities');
        }])
        //include that factory in the scope of the main controller
        .controller('CityController', ['$scope', 'cities', 'ngDialog', function($scope, cities, ngDialog){

            //attempt to retrieve the current cities from the DB
            cities.success(function(data){
                console.log(data);
                $scope.cities = data;
            }).error(function(data, status){
                console.log(data, status);
                $scope.cities = [];
            });
            
            $scope.openCity = function(city) {
                ngDialog.open({
                    template: 'cityDialog',
                    //controller: 'CityDialogController',
                    className: 'ngdialog-theme-default',
                    data:city
                });
            };
            
            $scope.openAddCity = function() {
                ngDialog.open({
                    template: 'addCityDialog',
                    //controller: 'CityDialogController',
                    className: 'ngdialog-theme-default'
                });
            };
        }])
        .value('duScrollOffset', 30);
    </script>  
</body>
</html>