<!-- for hooking this up to back end nodejs and mongo: http://adrianmejia.com/blog/2014/10/03/mean-stack-tutorial-mongodb-expressjs-angularjs-nodejs/ -->
<html ng-app="app">
<head>
    <% include ../partials/head %>
    <title>Better My City</title>

</head>
<body id="page-top" class="index">
    
<!-- Navigation -->
<% include ../partials/nav %>
<% include ../partials/navbar-animated %>
    
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
<!--            <div class="intro-heading">Welcome To Better My City!</div>-->
            <div class="intro-lead-in">Seeking to make a positive impact on the neighborhoods around us</div>
            <a du-smooth-scroll="tell-me-more" class="btn btn-xl">Tell Me More</a>
            <a du-smooth-scroll="get-involved" class="btn btn-xl">How Do I Get Involved?</a>
        </div>
    </div>
</header>
    
<!-- What We Do Section -->
<section id="tell-me-more">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We're Attempting</h2>
                <h3 class="text-muted">Jeremiah 29:7</h3>
                <h3 class="section-subheading text-muted">
                But seek the welfare of the city where I have sent you into exile, and pray to the LORD on its behalf, for in its welfare you will find your welfare.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <img src="img/bible.png"/>
                <h4 class="service-heading">Gospel-Centered Change</h4>
                <p class="text-muted">We believe God placed us in the cities we live in for a purpose. Although we believe in a future glory that far outstrips this current world, we do not believe we are meant to neglect the welfare of this world. We believe we are meant to be positive agents of change in this world.</p>
            </div>
            <div class="col-md-6">
                <img src="img/connecting.png"/>
                <h4 class="service-heading">Connecting People</h4>
                <p class="text-muted">We believe there are many in the community who also desire to be positive agents of change. However, often times those with the means to give are unaware of local causes that they believe in. We hope to connect philanthropic-minded organizations with local charities and causes to promote the well-being of cities.</p>
            </div>
        </div>
    </div>
</section>
    
<!--ng-view needed for where the templates go if i decide to use the router...-->
<!--<ng-view></ng-view>-->

<script>
angular.module('app', [/*'ngRoute', */'ui.bootstrap', 'duScroll'])
    //include that factory in the scope of the main controller
    .controller('IndexController', ['$scope', function($scope){
        
        //function to scroll to top
        $scope.toTheTop = function() {
            $document.scrollTopAnimated(0, 5000).then(function() {
                //intentionally blank
            });
        }
    }])
    .value('duScrollOffset', 30);
</script>                                                                                   
<!-- Template -->
    
<!--
<script type="text/ng-template" id="/todos.html">
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="todo in todos | filter: search">
      <input type="checkbox" ng-model="todo.completed">
      <a href="#/{{$index}}">{{todo.name}}</a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
  <h1>{{ todo.name }}</h1>
  completed: <input type="checkbox" ng-model="todo.completed">
  note: <textarea>{{ todo.note }}</textarea>
</script>

<script>
  angular.module('app', ['ngRoute', 'ui.bootstrap'])

    //---------------
    // Services
    //---------------

    .factory('Todos', function(){
      return [
        { name: 'AngularJS Directives', completed: true, note: 'add notes...' },
        { name: 'Data binding', completed: true, note: 'add notes...' },
        { name: '$scope', completed: true, note: 'add notes...' },
        { name: 'Controllers and Modules', completed: true, note: 'add notes...' },
        { name: 'Templates and routes', completed: true, note: 'add notes...' },
        { name: 'Filters and Services', completed: false, note: 'add notes...' },
        { name: 'Get started with Node/ExpressJS', completed: false, note: 'add notes...' },
        { name: 'Setup MongoDB database', completed: false, note: 'add notes...' },
        { name: 'Be awesome!', completed: false, note: 'add notes...' },
      ];
    })

    //---------------
    // Controllers
    //---------------

    .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
      $scope.todos = Todos;
    }])

    .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
      $scope.todo = Todos[$routeParams.id];
    }])

    //---------------
    // Routes
    //---------------

    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/todos.html',
          controller: 'TodoController'
        })

        .when('/:id', {
          templateUrl: '/todoDetails.html',
          controller: 'TodoDetailCtrl'
       });
    }]);

</script>
-->

</body>
</html>