<!-- for hooking this up to back end nodejs and mongo: http://adrianmejia.com/blog/2014/10/03/mean-stack-tutorial-mongodb-expressjs-angularjs-nodejs/ -->
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/portal.css">
    <link rel="stylesheet" href="css/ngDialog.min.css">
    <link rel="stylesheet" href="css/ngDialog-theme-default.min.css">

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.7.2/angular-scroll.js"></script>
    <script src="js/ngDialog.min.js"></script>
    <title>Better My City</title>

</head>
<body id="page-top" class="index">
 
<!-- Main Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" ng-controller="NavbarController">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Better My City</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- smooth-scroll and scroll-spy must be on li tag, not a tag, in order for 
                    scroll-spy to work properly with css elements -->
                <li class="hidden" du-smooth-scroll="page-top" du-scrollspy>
                    <a></a>
                </li>
                <li du-scrollspy>
                    <a ui-sref="whoWeAre">Who We Are</a>
                </li>
                <li du-scrollspy>
                    <a ui-sref="findMyCity">Find My City</a>
                </li>
                <li du-scrollspy>
                    <a ui-sref="contact">Contact Us</a>
                </li>
                <li>
                    <a ng-click="button1()" class="yellow">{{getButton1Text()}}</a>
                </li>
                <li>
                    <a ng-click="button2()" class="yellow">{{getButton2Text()}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--by including the app.js here, it will get auto-included in every html page -->
<script src="js/app.js"></script>    
<!-- services -->
<script src="js/services/authentication.service.js"></script>
<script src="js/services/flash.service.js"></script>
<script src="js/services/user.service.js"></script>
<!-- controllers -->
<script src="js/controllers/navbarController.js"></script>
<script src="js/controllers/userController.js"></script>
<script src="js/controllers/cityController.js"></script>
<script src="js/controllers/findMyCityController.js"></script>
<script src="js/controllers/errorController.js"></script>
<script src="js/controllers/createController.js"></script>

<!-- ui-router for SPA-->
<div ui-view style="margin-top: 30px;"></div> 

</body>
</html>