<!-- for hooking this up to back end nodejs and mongo: http://adrianmejia.com/blog/2014/10/03/mean-stack-tutorial-mongodb-expressjs-angularjs-nodejs/ -->
<html ng-app="app">
<head>
    <% include ../partials/head %>
    
    <title>My Portal</title>

</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <% include ../partials/nav %>

    <!-- Main Portal Section -->
    <section id="portal" class="bg-light-gray">
        <div class="container" ng-controller="UserController">
            <!-- Stack the columns on mobile by making both full-width -->
            <div class="row">
              <div class="col-xs-12 col-md-3">Sidebar...</div>
              <div class="col-xs-12 col-md-9">Main area...</div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                </div>
            </div>
        </div>
    </section>
    
    <script src="js/controllers/userController.js"></script>
</body>
</html>