
<!-- Search Current City Offers/Requests Section -->
<section id="city" class="bg-light-gray">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{city.name}}</h2>
            </div>
        </div>
        <!-- on left hand side, button group for searching-->
        <div style="float: left;" class="btn-group">
            <label class="btn btn-primary" ng-model="mode" btn-radio="'Requests'">Requests</label>
            <label class="btn btn-primary" ng-model="mode" btn-radio="'Offers'">Offers</label>
        </div>
        <!-- on right hand side, ability to create a new listing if logged in-->
        <div style="float: right;" ng-if="loggedIn">
            <button class="btn btn-default" ng-click="openCreateDialog()">
                Create
            </button>
        </div>
        <!-- underneath button, all the items-->
        <div style="margin-top:40px; clear: both;" class="row">
            <div class="col-md-4 col-sm-6 city-item" ng-repeat="item in currentItems">
                <div class="city-caption">
                    <h4>{{item.subject}}</h4>
                    <p class="text-muted">{{item.description_short}}</p>
                    <p class="text-muted">Posted By: {{item.poster_id}}</p>
                </div>
            </div>
        </div>
    </div>
</section>